@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .accordion-header {
    @apply cursor-pointer;
  }
  .accordion-body {
    @apply max-h-0  transition-all duration-200 ease-out;
  }
}

.second-header::before {
  content: "";
  height: 80px;
  position: absolute;
  width: 35%;
  background: #ff7350;
  top: 0;
  z-index: -1;
  left: -25px;
  transform: skew(30deg);
}
.first-header::before {
  content: "";
  height: 80px;
  position: absolute;
  width: 100%;
  background: #125875;
  top: 0;
  z-index: -1;
  left: 0;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #ff7350;
}
