@tailwind base;
@tailwind components;
@tailwind utilities;

.second-header::before {
  content: "";
  height: 80px;
  position: absolute;
  width: 35%;
  background: #ff7350;
  top: 0;
  z-index: -1;
  left: -25px;
  transform: skew(30deg);
}
.first-header::before {
  content: "";
  height: 80px;
  position: absolute;
  width: 100%;
  background: #027fc2;
  top: 0;
  z-index: -1;
  left: 0;
}
